#drape {
  background-color: #222;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

#textlayer {
  font-family: serif;
  font-size: 4em;
  color: #eee;
  margin: 2em;
}
