#drape {
  background-color: #222;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#textlayer {
  font-family: serif;
  font-size: 4em;
  color: #eee;
  margin: 2em;
}

#chunknav {
  position: fixed;
  z-index: 10000;
  bottom: 1em;
  right: 2em;

  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;

  background-color: #eee;
  border-radius: 0.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  opacity: 0.05;
}

.visible-chunk-nav {
  opacity: 0.3;
  transition: opacity 0.4s;  
}

.invisible-chunk-nav {
  opacity: 0;
  transition: opacity 1.0s;  
}

